.clear {
clear:both;
}

.links {
padding-top:26px;
font-family: "Comic Sans MS", cursive, sans-serif;
}

.navbar-brand {
color:#00008B;
font-size: 25px;
font-weight: 900;
letter-spacing: 1px;
}

.linksab {
padding-top: 20px;

}

a {
color: black;
}


hr {
clear:both;
display: block;
height: 2px;
border-top: 1px solid;
}

a.footer {
  color: white;
}

.clr {
  clear:both;
}
.icon{
	line-weight: 900;

}