.clear {
clear:both;
}

.links {
padding-top:16px;
font-family: "Comic Sans MS", cursive, sans-serif;
}

.navbar-brand {
 color:#00008B;
 font-size: 25px;
 font-weight: 900;
 letter-spacing: 1px;
}

.linksab {
 padding-top: 20px;
}

a {
 color: black;
}


hr {
 clear:both;
 display: block;
 height: 2px;
 border-top: 1px solid;
}

a.footer {
  color: white;
}

.clr {
  clear:both;
}

.hero {
  background: url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:370px;
  box-shadow: 0px 3px 8px #2a2a2a;

}
h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
}
.frosty {
  background:rgba(0,0,0, 0.5);
  color:white;
}
.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
  }

body {
  background: url('bg.jpg');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}



